body {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

.App-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-Header {
  height: 30%;
}

.App-Body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
