body {
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(235,235,235);
  overflow-x: hidden;
}

h1 {
  font-size: 45px;
  margin: 0;
}

h3 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 40px;
}

.App-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-Header {
  height: 30%;
}

.App-Body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
