
.Main-Container {
  display: flex;
  flex-direction: center;
  align-items: center;
  flex-direction: column;
  /*width: 600px;*/
}

.Main-Style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 98vh;
  /*border: 1px solid red;*/
  left: 0;
}

.Main-Filter{
  width: 30vw;
  height: 98vh;
  /*border: 1px solid purple;*/
  position: fixed;
  left: 0;
  margin: 50px;

}
.Main-Product {
  background-color: rgb(192,192,192);
  width: 80vw;
  height: 98vh;
  align-self: flex-end;
}

.Main-Search {
  /*border: 1px solid blue;*/
  background-color:rgb(112,128,144);
  height: 25vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

