.Body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
width: 80%;
height: 100%;
}

.card-square {
  height: 20vh;
  width: 15vw;
  background-color: green;
  margin: 8px;
}

